.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar-list{
    display: flex;
    gap: 20px;
    list-style: none;
}